
<section data-ng-controller="HomeController">
	<div class="container-full">
		<h2>Welcome to SF GardenShare!</h2>

		 <p>Bringing homeowners and gardeners together to create great things.

	</div>
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<br>
				<br>
				<br>
			</div>
		</div>
		<br>
	
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				<strong>Sign Up</strong>
			</h2>
			<p>Are you a homeowner with a great back yard and no time to garden? Do you dream about being able to walk outside and pick fresh vegetables or smell sweet flowers? </p>
			<p><img src="modules/core/img/brand/plant.png" alt="plant" height="100"></p>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>Create a Profile</strong>
			</h2>
			<p> Share your vision! How would you like your yard transformed? Describe the kind of yard you have and the type of partnership you'd like to create with a potential gardner.</p>
		
			<p><img src="modules/core/img/brand/tools.png" alt="tools" height="100"></p>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>Map your Space</strong>
			</h2>
			<p>Add your future garden to the map for gardeners to see. When a gardener sees you listing, he/she can reach out to set up a partnership.</p>
		
			<p><img src="modules/core/img/brand/map2.png" alt="map" height="100"></p>
			
		</div>
	</div>
	<br>
	<br>
	
</section>