
<section id="home" data-ng-controller="HomeController">
	<br>
    <br>
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    	<br>
                    	<br>
                        <br>
                        <br>
                        <br>
                        <h1 class="brand-heading">SF GardenShare</h1>
                        <h3><i>Bringing Neighbors and Gardens Together</i></h3>
                        <br>
                        <br>
                        <br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="content-section text-center">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>San Francisco Garden Sharing</h2>

                    <p> Fresh local food and beautiful flowers are a vital part of San Francisco's culture and charm. As our population grows, green areas inevitably decrease, making it all that much more important to care and cultivate the green space we do have. Bringing together homeowners (with available garden space) with experienced gardeners is a wonderful way to produce food and create community. </p>

                    <p>Do you have a garden space that is not being used? Would you like to have fresh herbs and maybe a tree or two, but lack the time or know-how? Sign up, post your space and attract a gardener! When you've found a good match, you can arrange a short or long-term plan that is mutually beneficial. </p>

                    <p> Are you a gardener looking for a place to grow lettuce and potatoes? Check out the map below and find a garden space near you. When you see the perfect yard, reach out and make a connection. Great things can happen!</p>

                    
                    <a href="#gardens" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>   
                </div>
                <br>
                <br>
            </div>
    </section>

    <!-- Garden Section -->
    <section id="gardens" data-ng-controller="GardensController" data-ng-init="find()">
    <br>
    <br>
    <br>
    <br>
    <div>
        <h1>Local Gardens</h1>
    </div>
        
    <map center="[37.762301, -122.450116]" zoom="10">
    <marker ng-repeat='garden in gardens' position='[{{garden.lat}},{{garden.lon}}]' visible="true" on-click="gotolink(event,garden)">
    </marker>
    </map>

<!-- <p class="list-group-item-text" data-ng-bind="garden.title"></p>
<p class="list-group-item-text" data-ng-bind="garden.content"></p>
<p class="list-group-item-text" data-ng-bind="garden.lat"></p>
<p class="list-group-item-text" data-ng-bind="garden.lon"></p>
 -->
 <br>
 <br>
 <div class="dropdown">
  <button class="btn btn-block btn-default dropdown-toggle" type="button" data-toggle="dropdown">Find a Garden
  <span class="caret"></span></button>
  <ul class="btn-block dropdown-menu">
    <li><a data-ng-repeat="garden in gardens" data-ng-href="#!/gardens/{{garden._id}}" class="list-group-item">
            <small class="list-group-item-text">
                <h2><span data-ng-bind="garden.title"></span></h2>
                Posted on
                <span data-ng-bind="garden.created | date:'medium'"></span>
                by
                <span data-ng-bind="garden.user.displayName"></span>
            </small>
            <!-- <h4 class="list-group-item-heading" data-ng-bind="garden.title"></h4> -->
        </a></li>
  </ul>
  <br>
  <br>
</div>
<p align="center"><a href="#add" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> </p>
    <div class="alert alert-warning text-center" data-ng-hide="!gardens.$resolved || gardens.length">
        No Gardens yet, why don't you <a href="/#!/gardens/create">create one</a>?
    </div>
</section>
    <!-- <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Grayscale</h2>
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
    </section> -->

    <!-- Download Section -->
    

    <!-- Contact Section -->
    <section id="add" class="container content-section text-center">
            <h2> Add invitation to sign up to create garden. </h2>

    </section>

    <!-- Map Section -->


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>

</section>